
/*definition des polices*/

@font-face {
    font-family:'ralewayregular';
    src: url('police/raleway-regular-webfont.woff2') format('woff2'),
         url('police/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


h1{
	font-size:1.0em;
	font-family:ralewayregular;
}

h2{
	font-size:1.0em;
	font-family:ralewayregular;
}

p{
	font-family:ralewayregular;
	font-size: 0.7em;
}


/*header*/

head {position: relative;}

.logo{
	height:40px;
	width: auto;
}

nav ul{
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
	font-weight: bold;
	color:#0065FC;
}

nav li{
	padding-left: 50px;

	font-size: 0.9em;
	
}
/*block de recherche*/

#conteneur_recherche{
	position: relative;
	height: 200px;
}


#iconelocal{
	position: absolute;
	top: 18px;
	font-size: 1.1em;
	text-align: center;
	vertical-align: middle;

}

#formrecherche{
	position: absolute;
	top:11px;
	font-family:ralewayregular;
	font-size: 0.8em;
	font-weight: bold;
	height: 31px;
	left:25px;

}

#boutonrecherche{
	position: absolute;
	left:167px;
	top:0px;
	background-color: #0065fc;
	color: white;
	padding-right:12px;
	padding-left:12px;
	padding-top: 12px;
	padding-bottom:12px;
	width: 75px;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
}

#blocfiltre{
	display: flex;
	position: relative;
	top:70px;
	left:0px;

}


ul .filtres{
	list-style-type: none;
	display: inline;
}

ul .filtremenu{
	list-style-type: none;
	display: inline;
}

.filtremenu{
	padding-left:0px;
	margin-left:0px;
	left:0px;
}


.filtres{
	padding-left: 40px;
	border: 2px solid #f2f2f2;
	border-radius: 15px;
	padding-top:8px;
	padding-bottom:8px;
	padding-right: 10px;
	font-size: 0.9em;
	margin-left:10px;
	font-family: ralewayregular;
}

#blocinformation{
	position: relative;
	display: flex;
	top:90px;
	left:0px;
		

}

#inconeinfo{
	position: absolute;
	text-align: center;
	vertical-align: middle;

	/*je n'arrive pas a modifier la taille de l'icone
	j'ai essaye font-size en html et css!!!!!*/
	
}

#blocinformation_el2{
	position: absolute;
	margin-top:0;
	margin-bottom:0;
	left:25px;
	top:-10px;
	
	

}


/*Hebergements à Marseille*/

#conteneur_hebergements{
	position: relative;
}

/*activites à Marseille*/

#conteneur_activites{
	position: relative;
}


/*footer*/

footer{
	background-color: #f2f2f2;
}