
/*definition des polices*/

@font-face {
    font-family:'ralewayregular';
    src: url('police/raleway-regular-webfont.woff2') format('woff2'),
         url('police/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


h1{
	font-size:1.0em;
	font-family:ralewayregular;
}

h2{
	font-size:1.0em;
	font-family:ralewayregular;
}

p{
	font-family:ralewayregular;
	font-size: 0.7em;
}


/*header*/

head {position: relative;}

.logo{
	height:40px;
	width: auto;
}

nav ul{
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
	font-weight: bold;
	color:#0065FC;
}

nav li{
	padding-left: 50px;

	font-size: 0.9em;
	
}
/*block de recherche*/

#conteneur_recherche{
	position: relative;
	height: 200px;
}


#iconelocal{
	position: absolute;
	top: 11px;
	font-size: 1.1em;
	text-align: center;
	vertical-align: middle;
	background-color: #f2f2f2;
	padding:8px 20px 8px 8px;
	border-radius:0 50% 50% 0;

}

#formrecherche{
	position: absolute;
	top:11px;
	font-family:ralewayregular;
	font-size: 0.8em;
	font-weight: bold;
	height: 31px;
	left:35px;
	padding-left: 15px;
	padding-right:30px;
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
	border-left:0px;
	

}

#boutonrecherche{
	position: absolute;
	left:200px;
	top:0px;
	background-color: #0065fc;
	color: white;
	padding-right:20px;
	padding-left:20px;
	padding-top: 12px;
	padding-bottom:12px;
	width: 75px;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
}

#blocfiltre{
	display: flex;
	position: relative;
	top:70px;
	left:0px;
	

}

span .cerclebleu{
	margin-right:25px;
	margin-left:0px
}

.cerclebleu{
	background-color:#deebff;
	border-radius: 50%;
	padding:12px;
	color:#0065FC;
}

ul .filtres{
	list-style-type: none;
	display: inline;
}

ul .filtremenu{
	list-style-type: none;
	display: inline;
}

.filtremenu{
	padding-left:0px;
	margin-left:0px;
	left:0px;
}


.filtres{
	
	border: 2px solid #f2f2f2;
	border-radius: 18px;
	padding-top:8px;
	padding-bottom:8px;
	padding-right: 20px;
	font-size: 0.9em;
	margin-left:20px;
	font-family: ralewayregular;
}

#blocinformation{
	position: relative;
	display: flex;
	top:90px;
	left:0px;
		

}

/*#inconeinfo{
	position: absolute;
	text-align: center;
	vertical-align: middle;

	/*je n'arrive pas a modifier la taille de l'icone
	j'ai essaye font-size en html et css!!!!!*/
	


span .cercleinfo{
	color:#0065FC;
	font-size: 0.8em;
	
}

#blocinformation_el2{
	position: absolute;
	margin-top:0;
	margin-bottom:0;
	left:25px;
	top:-10px;
}


/*Hebergements à Marseille*/

#conteneur_hebergements{
	position: relative;
	display: flex;
	background-color:yellow;
	justify-content: space-between;
	flex-direction: row;
	
}
		#hebergements{
		display: flex;
		justify-content:flex-start;
		flex-wrap:wrap;
		width: 70%;
		background-color: #b1a9a9;
		}

			.blocphototohebergement{
			background-color: white;
			border: white solid 2px;
			border-radius:10px;
			height: 200px;
			width: 250px;
			margin:5px 20px 20px 5px;
			}

				#imagehebergement1{
				background-image:url("images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
				background-size: contain;
				height:65%;
				width:95%;
				margin:5px 5px 5px 5px;
				}

				#imagehebergement2{
				background-image:url("images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
				background-size: contain;
				height:65%;
				width:95%;
				margin:5px 5px 5px 5px;
				}

				#imagehebergement3{
				background-image:url("images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
				background-size: contain;
				height:65%;
				width:95%;
				margin:5px 5px 5px 5px;
				}
				
				#imagehebergement4{
				background-image:url("images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
				background-size: cover;
				background-position: center;
				height:65%;
				width:95%;
				margin:5px 5px 5px 5px;
				}

				#imagehebergement5{
				background-image:url("images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
				background-size: contain;
				height:65%;
				width:95%;
				margin:5px 5px 5px 5px;
				}	
				#imagehebergement6{
				background-image:url("images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
				background-size:cover;
				background-position: center;
				height:65%;
				width:95%;
				margin:5px 5px 5px 5px;
				}

				.descriptionphoto{
				font-size: 0.8em;
				font-weight: bold;
				}	

				.prix{
				font-weight: bold;
				font-size: 1em;
				}


#lliseretlespluspopulaires{
	background-color: gray;
}



/*activites à Marseille*/

#conteneur_activites{
	position: relative;
}


/*footer*/

footer{
	background-color: #f2f2f2;
}