
/*definition des polices*/

@font-face {
    font-family:'ralewayregular';
    src: url('police/raleway-regular-webfont.woff2') format('woff2'),
         url('police/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


h1{
	font-size:1.0em;
	font-family:ralewayregular;
}

h2{
	font-size:1.0em;
	font-family:ralewayregular;
}

p{
	font-family:ralewayregular;
	font-size: 0.7em;
}


/*header*/

head {position: relative;}

.logo{
	height:40px;
	width: auto;
}

nav ul{
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
	font-weight: bold;
	color:#0065FC;
}

nav li{
	padding-left: 50px;

	font-size: 0.9em;
	
}
/*block de recherche*/

#conteneur_recherche{
position: relative;
height: 200px;
}


#formrecherche{
	position: absolute;
	top:12px;
	font-family:ralewayregular;
	font-size: 0.8em;
	font-weight: bold;
	height: 31px;
}

#boutonrecherche{
	position: absolute;
	left:137px;
	top:0px;
	background-color: #0065fc;
	color: white;
	padding-right:12px;
	padding-left:12px;
	padding-top: 12px;
	padding-bottom:12px;
	width: 75px;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
}

#blocfiltre{
	display: flex;
	position: relative;
	top:70px;
	/*background-color: yellow;*/
}

#boutonfiltre{
	padding-right:20px;
	padding-top:12px;
	padding-bottom:8px;
	font-size: 0.8em;
}
#boutoneco{
	
	padding-left: 40px;
	border: 2px solid #f2f2f2;
	border-radius: 15px;
	padding-top:8px;
	padding-bottom:8px;
	padding-right: 10px;
	font-size: 0.9em;
	font-family: ralewayregular;
}

#boutonfam{
	
	padding-left: 40px;
	border: 2px solid #f2f2f2;
	border-radius: 15px;
	padding-top:8px;
	padding-bottom:8px;
	padding-right: 10px;
	font-size: 0.9em;
	font-family: ralewayregular;
}

#boutonrom{
	padding-left: 40px;
	border: 2px solid #f2f2f2;
	border-radius: 15px;
	padding-top:8px;
	padding-bottom:8px;
	padding-right: 10px;
	font-size: 0.9em;
	font-family: ralewayregular;
}

#boutonani{
	padding-left: 40px;
	border: 2px solid #f2f2f2;
	border-radius: 15px;
	padding-top:8px;
	padding-bottom:8px;
	padding-right: 10px;
	font-size: 0.9em;
	font-family: ralewayregular;
}
/*
#filtres2{
	display: flex;

}
*/
/*#filtres{
	position: relative;
	top:80px;
}
.filtres{
	border-top: 2px solid grey;
	border-bottom: 2px solid grey;
	border-top-right-radius: 40px;
	border-bottom-right-radius: 40px;

	
}

#filtres ul {

	list-style-type: none;
	display: flex;
	justify-content:left;
	margin: 0px;
	padding: 0px;
}
#filtres li{
	padding: 20px;
}
*/

.finconteneur-recherche{
	position: relative;
	top:70px;
}
/*Hebergements à Marseille*/

#conteneur_hebergements{
	position: relative;
}

/*activites à Marseille*/

#conteneur_activites{
	position: relative;
}


/*footer*/

footer{
	background-color: #f2f2f2;
}